version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      artifacts:
        patterns:
          - "actions/upload-artifact"
          - "actions/download-artifact"
    labels:
      - "maintenance"
      - "dependencies"
