name: Build LaTeX document
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Compile LaTeX document
        uses: xu-cheng/texlive-action@f886de8159e5952a131848a5fa9c3196a2132b5d # v2
        with:
          run: |
            apk add make
            make
      - name: Get Job URL
        uses: Tiryoh/gha-jobid-action@be260d8673c9211a84cdcf37794ebd654ba81eef # v1
        id: jobs
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          job_name: build_latex
      - name: Setup SSH
        uses: MrSquaare/ssh-setup-action@7c2bf610bc02ced37f15ad1a68092145c47b9b4e # v3
        with:
          host: github.com
          private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Deploy PR pdf
        if: github.event_name == 'pull_request'
        env:
          ORGANIZATION: pyvista
          REPO: pyvista-posters
          JOB_ID: ${{ steps.jobs.outputs.job_id }}
          HTML_URL: ${{ steps.jobs.outputs.html_url }}
          PR_NUMBER: ${{ github.event.number }}
        run: |
          mv main.pdf ../
          git remote -v
          git remote add github git@github.com:$ORGANIZATION/$REPO.git
          git fetch github -p
          git checkout gh-pages
          touch .nojekyll
          mv ../main.pdf $PR_NUMBER.pdf
          git config --global user.email $GITHUB_REPOSITORY
          git config --global user.name $GITHUB_REPOSITORY
          git add .
          git commit --allow-empty -m "[ci skip] $JOB_ID
          $HTML_URL"
          git push github gh-pages
      - name: Deploy pdf
        if: contains(github.ref, 'main')
        env:
          ORGANIZATION: pyvista
          REPO: pyvista-posters
          JOB_ID: ${{ steps.jobs.outputs.job_id }}
          HTML_URL: ${{ steps.jobs.outputs.html_url }}
        run: |
          mv main.pdf ../
          git remote -v
          git remote add github git@github.com:$ORGANIZATION/$REPO.git
          git fetch github -p
          git checkout gh-pages
          touch .nojekyll
          mv ../main.pdf .
          sudo apt-get update
          sudo apt-get -y install poppler-utils
          pdftoppm -png main.pdf main
          git config --global user.email $GITHUB_REPOSITORY
          git config --global user.name $GITHUB_REPOSITORY
          git add .
          git commit --allow-empty -m "[ci skip] $JOB_ID
          $HTML_URL"
          git push github gh-pages
